/*		home page 	*/

.mosaic {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	width: auto;
	height: auto;
}

/* Cards bg */

.bg-styx {
	background-image: url('./images/project_cover/project_cover_styx.jpg');
}

.bg-coucou {
	background-image: url('./images/project_cover/project_cover_coucou.jpg');
}

.bg-luvli {
	background-image: url('./images/project_cover/project_cover_luvli.jpg');
}
.bg-idm {
	background-image: url('./images/project_cover/project_cover_IDM.jpg');
}

.bg-ricard {
    background-image: url('./images/project_cover/project_cover_ricard.jpg');
}

.bg-fetiche {
    background-image: url('./images/project_cover/project_cover_fetiche.jpg');
}

.bg-unfiltered {
	background-image: url('./images/project_cover/project_cover_unfiltered.jpg');
}

.bg-une-semaine {
	background-image: url('./images/project_cover/project_cover_une-semaine.jpg');
}

/* Card general behavior */

.parent {
	width: 100%;
	min-width: 300px;
	height: 330px;
	position: relative;
	overflow: hidden;
	margin-bottom: 3px;

}

.bg-card {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.parent a { display: none; 
text-align: center;
position: relative;
padding-top: 140px;
align-self: center;
	}

.bg-card::before {
	display: none;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 193, 7);
	mix-blend-mode: multiply;
}

.parent:hover .bg-card:before {
	display: block;
	align-content:center;
}

.parent:hover .bg-card {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);

	background-size: 100%;
	transition-timing-function: ease-in;

	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.parent:hover a {
	width:100%;
	height:100%;
	display: block;
	z-index: 2;
	color: white;
	font-size: 2em;
	font-family: poppins;
	font-weight: bold;
	
	line-height: 1.2em;
	text-decoration: none;	
}
